body{
  font-family: "Segoe UI","Helvetica Neue","Lucida Unicode Sans", "Open Sans", Arial, sans-serif;
  padding-top: 50px;
}
body #growls.default{
	top: 50px;
}
body.stickyFooter{
	padding-bottom: 30px;
}

body.stickyFooter .classFooter{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}


.fa.fa-1x5x{
	font-size: 1.2em;
}

.navbar-custom { background-color: #3E4651}
.navbar-custom .navbar-nav>.active>a:hover,
.navbar-custom .navbar-nav>li>a:hover,
.navbar-custom .navbar-nav>li>a:focus { 
	background-color: rgba(34, 167, 240, 0.50)
}
.navbar-custom .navbar-nav>.active>a,.navbar-custom .navbar-nav>.open>a,.navbar-custom .navbar-nav>.open>a, .navbar-custom .navbar-nav>.open>a:hover,.navbar-custom .navbar-nav>.open>a, .navbar-custom .navbar-nav>.open>a:hover, .navbar-custom .navbar-nav>.open>a:focus { background-color: #22A7F0}
.navbar-custom .navbar-nav>.active>a:hover,
.navbar-custom .navbar-nav>.active>a:focus{ 
	background-color: #22A7F0
}
.navbar-custom { border-color: #080808}
.navbar-custom .navbar-brand { color: #FFFFFF}
.navbar-custom .navbar-brand:hover { color: #FFFFFF}
.navbar-custom .navbar-nav>li>a { color: #FFFFFF}
.navbar-custom .navbar-nav>li>a:hover, .navbar-custom .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-custom .navbar-nav>.active>a,.navbar-custom .navbar-nav>.open>a, .navbar-custom .navbar-nav>.open>a:hover, .navbar-custom .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-custom .navbar-nav>.active>a:hover, .navbar-custom .navbar-nav>.active>a:focus { color: #FFFFFF}
.navbar-custom .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-custom .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-custom .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-custom .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}
.navbar-custom{border-radius: 0}
.navbar-custom .navbar-form .date .input-group-addon{background: #337ab7; color: white; border-color: #337ab7}
.navbar-custom.navbar{margin-bottom: 10px}

.classTopSpacing{
	margin-top: 15px;
}
.classBottomSpacing{
	margin-bottom: 20px;
}

.classSmTopSpacing{
	margin-top: 10px;
}
.classSmBottomSpacing{
	margin-bottom: 10px;
}
.classSmLeftSpacing{
	margin-left: 10px;
}
.classSmRightSpacing{
	margin-right: 10px;
}

.classNoTopSpacing{
	margin-top: 0;
}

.classFullHeight{
	height: 100%;
}
.classLeftSpacing{
	margin-left: -496px;
}

.classLabelFilterType{
	margin-left: 135px;
    margin-top: 33px;
}

.classTextBoxGroupName{
	    width: 250px;
}

/*.classSelectBoxFilterType{
	width: 250px;
    margin-left: 241px;
    margin-top: -30px;
}*/

.classButtonAddNewGroup{
	margin-top: -65px;
    margin-left: 869px;
}

.classHeading{
	margin-left: 104px;
}

.classFooter{
	background-color: #3E4651;
	color: white;
	padding: 8px;
	font-size: 11px;
	line-height: 10px;
	-webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.25);
    box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.25);
}

.classFooter a{
	color: white;
	font-weight: bold;
}

.classFooter a:hover{
	color: #ccc;
}

.classFullWidth{
	width: 100%;
}

.modal {
  width: 75%;
  margin-left: auto;
  margin-right: auto;

}

.modal-dialog.modal-lg {
  position: fixed;
  width: 75%;
}

.modal-lg .modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

table.table-condensed.table-noborder td {
	border: none !important;
}

.classButtonAddAnother{
	margin-bottom: 10px;
}

#idDoctorAvailModalCalendarTab button {
	margin-top: 0;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 422px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}



.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.info-box-text {
    text-transform: uppercase;
}

.small-text-container {
  font-size: 11px !important;
}

.b3-data-table {

}

.b3-data-table thead {
  background-color: #3e4651;
  color: #fff;
}


/* Horizontal Timeline */
.htimeline {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}
.htimeline .step {
  min-width: 200px;
  float: left;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  position: relative;
  margin-bottom: 10px;
  text-align: left;
  padding: 0px 0 5px 0px;
  background-color: #f5f5f5;
  color: #333;
  height: 60px;
  vertical-align: middle;
  border-right: solid 1px #bbb;
  transition: all 0.5s ease;
  padding: 2px;
}
.htimeline .step:hover {
  background-color: #ccc;
  border-bottom-width: 6px;
}
.htimeline .step div {
  margin: 0 5px;
  font-size: 14px;
  vertical-align: top;
  padding: 0;
}

.htimeline .step::before {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  content: ' ';
  background-color: white;
  position: absolute;
  bottom: -10px;
  left: 0px;
  border-style: solid;
  border-width: 3px;
  transition: all 0.5s ease;
}
.htimeline .step:hover::before {
  width: 18px;
  height: 18px;
  bottom: -12px;
}
.htimeline .step::after {
  content: attr(data-date);
  position: absolute;
  bottom: 0px;
  left: 20px;
  font-size: 11px;
  font-style: italic;
  color: #555
}
.sortable-entities-list{
  min-height: 50px;
}
.sortable-entities-list li{
  position: relative;
}
.sortable-entities-list li a{
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 15px;
  font-size: 14px;
}
.sortable-entities-list li a.icon-trash{
  border: none;
  padding: 0;
  position: absolute;
    right: 10px;
    top: 5px;
    z-index: 100;
}

.twitter-typeahead{ float:left; width:100%}


.classContainer.classContainerSampleNote:not(:last-child) {
  border-bottom: 1px #eee solid;
}