<style type="text/css">
    body{
        background: #e2eaf1;
    }
    .row {                
        margin-left: -10px;
    }
    .classContainerBody{
        padding-top: 10px;
    }
    .title-btn{
        margin-top: 23px;
    }
    .card{
        border: 1px solid darkgray;
        border-radius: 5px;
        padding: 0px;
    }
    .card-header{
        border-bottom: 1px solid darkgray;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding: 10px;
        padding-top: 15px;
        background: #324357;
        color: white;
        margin-top: -10px;
        height: 55px;
    }
    .header-left-btn{
        font-size: 19px;
    }            
    .header-right-btn{
        border: 1px solid #bdbdbd;
        border-radius: 3px;
        padding: 5px;
        font-size: 11px;
        cursor: pointer;
    }   
    .select-centre>select{
        width: 857px;
        border: 1px solid gray;
    }
    .card-lable{                
        color: #868686;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #4e5077;
        color: white;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: #e8e8e4;
        margin-right: 5px;
    }
    .card-header-default{
        border-bottom: 1px solid darkgray;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; 
        padding: 10px;             
        background: #dddddd;
        font-size: 11px;
        color: black;
    }
    .header-status-btn{
        margin-left: 6px;
        background: cornflowerblue;
        width: 12px;
        height: 12px;
        border-radius: 11px;
        border-style: none;
    }
    .status-btn-scheduled{
        background: #8ad9f7;
    }
    .status-btn-successful{
        background: #31ec80;
    }
    .status-btn-cancelled{
        background: #ff6b60;
    }
    .status-btn-tentative{
        background: #a64eed;
    }
    .status-btn-confirmed{
        background: #e9cc2f;
    }
    .status-btn-rescheduled{
        background: #2166bd;
    }
    .status-btn-no-reminder-email{
        background: #e44eed;
    }
    .status-btn-no-reminder-sms{
        background: #f27c29;
    }
    .status-btn-reminder-email{
        background: #1b8445;
    }
    .status-btn-reminder-sms{
        background: #9565e2;
    }
    .btn-update{
        font-size: 10px;
        border: 1px solid;
        height: 20px;
        padding-top: 2px;
        color: orange;
        font-weight: bold;
    }
    .calendar-list-view{
        margin-top: 12px;
    }
    .active-services{
        background: #4c4a4a;
        color: white;
        padding: 5px;
        font-size: 11px;
        border-radius: 10px;
    }
    .inactive-services{
        background: #9c9b9b;
        color: white;
        padding: 5px;
        font-size: 10px;
        border-radius: 10px;
    }
    .calendar-table-headings{
        color: #616161;
        font-size: 12px;
        font-weight: 700;
    }
    .status-cancelled{
        border-left: 4px solid #ff6a60;
    }
    .status-successful{
        border-left: 4px solid #31ec80;
    }
    .status-scheduled{
        border-left: 4px solid #8ad9f7;
    }
    .card-row{
        padding: 7px 0px;
        height: 67px;
        border-bottom: 1px solid lightgray;
        height: auto;
    }
    .card-patient{
        border-radius: 0px;
        border-left: 0px; 
    }
    .card-header-status-table{
        border-bottom: 1px solid darkgray;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; 
        padding: 10px;             
        background: #eeeeef;
        font-size: 15px;
        color: black;
    }
    .calendar-table-row{
        color: #616161;
        font-size: 12px;
        font-weight: 700;
    }
    .calendar-table-row>ul>li{
        margin-left: -20px;
    }        
    .classPatientNo{
        color: #848282;
    }
    .classPatientPendingPayment{
        color: orange;
    }
    .classPatientPaidPayment{
        color: #07983b;
    }
    .classPatientPartialPayment{
        color: brown;
    }

    /* Data Loader Animation */
    #overlay{
        opacity : 0.4;
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        width: 100%;
        z-index: 5000;
        height: 100%;
    }
    .circle {
        margin: 0 auto;
        border-radius: 50%;
        border: 10px solid rgba(0, 0, 0, 0);
        border-top-color: #347fc3;
    }

    .circle1-1, .circle1-2, .circle1-3, .circle1-4, .circle1-5, .circle1-6 {
       height: 100px;
       width: 100px;
       margin-top: 15px;
    }

    .circle2-1, .circle2-2, .circle2-3, .circle2-4, .circle2-5, .circle2-6 {
       height: 70px;
       width: 70px;
       margin-top: 5px;
    }

    .circle3-1, .circle3-2, .circle3-3, .circle3-4, .circle3-5, .circle3-6 {
       height: 40px;
       width: 40px;
       margin-top: 5px;
    }

    .circle1 {
      -webkit-animation: load1 4s infinite;
    }

    @-webkit-keyframes load1 {
      0% {
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }
    /* END Data Loader Animation */

    /*for modal Patient Schedule status update*/
    .modal {
        /*margin-top: 10%;
        width: 50%;
        background: white;
        margin-left: auto;
        margin-right: auto;
        height: 66vh;
        border-radius: 10px;*/
    }           
    .modal-header {
        width: 100%;
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
    }
    .modal-footer {
        /*padding: 10px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
        position: fixed;
        left: 304px;
        right: 0;
        bottom: 189px;
        width: 50%;*/
    }
    .modal-open .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }
    .classChkbox{
        margin-left: -15px;
    }
    .classHidden{
        visibility: hidden;
    }
    legend{
        font-size: 17px;
    }
    h4{
        margin-top: 0px;
        margin-bottom: 0px;
        color: #259;
    }
    textarea{
        width: 100%;
    }
    .status-confirmed{
        border-left: 4px solid #e9cc2f;
    }
    .classServiceUrl{
        color:black;
    }
</style>