<style type="text/css">
    body{
        background: #e2eaf1;
    }
    .row {                
        margin-left: -10px;
    }
    .classContainerBody{
        padding-top: 10px;
    }
    .title-btn{
        margin-top: 23px;
    }
    .card{
        border: 1px solid darkgray;
        border-radius: 5px;
        padding: 0px;
    }
    .card-header{
        border-bottom: 1px solid darkgray;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding: 10px;
        padding-top: 15px;
        background: #324357;
        color: white;
        margin-top: -10px;
        height: 55px;
    }
    .header-left-btn{
        font-size: 19px;
    }            
    .header-right-btn{
        border: 1px solid #bdbdbd;
        border-radius: 3px;
        padding: 5px;
        font-size: 11px;
        cursor: pointer;
    }
    .select-centre{
        margin-left: 12px;
    }
    .select-centre>select{
        width: 857px;
        border: 1px solid gray;
    }
    .card-lable{                
        color: #868686;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #4e5077;
        color: white;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: #e8e8e4;
        margin-right: 5px;
    }
    .card-header-default{
        border-bottom: 1px solid darkgray;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; 
        padding: 10px;             
        background: #dddddd;
        font-size: 11px;
        color: black;
    }
    .header-status-btn{
        margin-left: 6px;
        background: cornflowerblue;
        width: 12px;
        height: 12px;
        border-radius: 11px;
        border-style: none;
    }    
    .calendar-table-headings{
        color: #616161;
        font-size: 12px;
        font-weight: 700;
    }    
    .card-row{
        padding: 7px 0px;
        height: 67px;
        border-bottom: 1px solid lightgray;
        height: auto;
    }   
    .card-header-status-table{
        border-bottom: 1px solid darkgray;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; 
        padding: 10px;             
        background: #eeeeef;
        font-size: 15px;
        color: black;
    }
    .calendar-table-row{
        color: #616161;
        font-size: 12px;
        font-weight: 700;
    }         
    

    /* Data Loader Animation */
    #overlay{
        opacity : 0.4;
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        width: 100%;
        z-index: 5000;
        height: 100%;
    }
    .circle {
        margin: 0 auto;
        border-radius: 50%;
        border: 10px solid rgba(0, 0, 0, 0);
        border-top-color: #347fc3;
    }

    .circle1-1, .circle1-2, .circle1-3, .circle1-4, .circle1-5, .circle1-6 {
       height: 100px;
       width: 100px;
       margin-top: 15px;
    }

    .circle2-1, .circle2-2, .circle2-3, .circle2-4, .circle2-5, .circle2-6 {
       height: 70px;
       width: 70px;
       margin-top: 5px;
    }

    .circle3-1, .circle3-2, .circle3-3, .circle3-4, .circle3-5, .circle3-6 {
       height: 40px;
       width: 40px;
       margin-top: 5px;
    }

    .circle1 {
      -webkit-animation: load1 4s infinite;
    }

    @-webkit-keyframes load1 {
      0% {
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }
    /* END Data Loader Animation */
</style>