    .classBtnBedOfWard{
        min-height: 43px;
    }
    .classBtnBedOfRoom{
        min-height: 43px;
    }
    .classBtnBed{
        min-height: 43px;
    }
    .classAppendAllIPDBeds{
        border: 1px solid #ECD7D7;
        padding: 4px;
        width: 800px;
    }
    .classUpdateAppendAllIPDBeds{
        border: 1px solid #ECD7D7;
        padding: 4px;
        width: 800px;
    }

    .classUpdateBtnBedOfWard{
        min-height: 43px;
    }
    .classUpdateBtnBedOfRoom{
        min-height: 43px;
    }
    .classUpdateBtnBed{
        min-height: 43px;
    }

    .classBtnBedOfRoom img {
        width: 30px;
        padding-left:20px;
        vertical-align: middle;
        display: block;
    }



    .classBtnBedOfWard img {
        width: 30px;
        padding-left:20px;
        vertical-align: middle;
        display: block;
    }

     .classBtnBed img {
        width:30px;
        padding-left:22px;
        vertical-align: middle;
        display: block;
    }
    a.classBtnBed{
        color: #000 !important;
        width: 22%;
        margin: 5px;
        text-align: center;
    }

    .classUpdateBtnBedOfRoom img {
        width: 30px;
        padding-left:20px;
        vertical-align: middle;
        display: block;
    }

    .classUpdateBtnBedOfWard img {
        width: 30px;
        padding-left:20px;
        vertical-align: middle;
        display: block;
    }

    .classUpdateBtnBed img {
        width: 30px;
        padding-left:20px;
        vertical-align: middle;
        display: block;
    }

    a.classBtnBedOfWard {
        color: #000 !important;
        width: 22%;
        margin: 5px;
        text-align: center;
    }

     a.classBtnBedOfRoom {
        color: #000 !important;
        width: 22%;
        margin: 5px;
        text-align: center;
    }

    a.classUpdateBtnBedOfWard {
        color: #000 !important;
        width: 22%;
        margin: 5px;
    }

     a.classUpdateBtnBedOfRoom {
        color: #000 !important;
        width: 22%;
        margin: 5px;
    }

    a.classUpdateBtnBed {
        color: #000 !important;
        width: 22%;
        margin: 5px;
        text-align: center;
    }

    .btn-default i {
        width: 30px;
        padding: 0px 5px;
        vertical-align: middle;
        display: block;
    }

.border-bottom{
    border-bottom: 1px solid #000;
}


.ui-tooltip {
    background-color: #000;
    opacity: 0.7;
    color: #fff;
    padding: 10px 10px;
    border: none;
}

p.classWardName{
    white-space: normal;
    min-height: 78px;
}
p.classRoomName{
    white-space: normal;
    min-height: 40px;
}
/*  .ui-tooltip, .arrow:after {
    background-color:#259;
    border: 2px solid white;
    opacity: 1;
  }
  .ui-tooltip {
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  } */