.cardContainer {
    min-height:150px;
}
.classCardMainContainer .cardBlue{
	background-color: #22A7F0 !important;
}
.classCardMainContainer .cardYellow{
	background-color: #ffb400 !important;
}
.classCardMainContainer .cardGreen{
	background-color: #1ABC9C;		
}
.classCardMainContainer .cardRed{
	background-color: #FA2A00;		
}
.card.col-md-3.cardContainer h4, .card.col-md-3.cardContainer {
    color: #fff;
}
.classCardMainContainer .cardBlue, .classCardMainContainer .cardYellow, .classCardMainContainer .cardGreen{
	margin-right: 12px;
}
.classCardMainContainer .card{
	width: 24%;
}
.classCountWeight{
	font-size: 50px;
}
.classLeadManagement{
	overflow: auto;
}
.classLeadListingPanal{
	margin-left: 45px;
}
.navbar .navbar-breadcrumb > li {
    height: 60px; 
    line-height: 50px; 
    vertical-align: middle;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    margin: 2px 0px 5px 10px;
}
.navbar .navbar-breadcrumb li{
	color: #FFF;
}
.navbar-header.classBaseTopHeader{
	height:56px;
}
.navbar .navbar-breadcrumb {
    margin-left: 0px;
    background-color: transparent;
    padding: 0px;
    float: left;
}
.navbar .navbar-breadcrumb li a {
    color: #FFF;
}
.navbar .navbar-breadcrumb li a:hover {
    text-decoration: none;
}
.notActive a{
	font-size:20px !important;
}
.active a{
	font-size:26px !important;
}
.classTopMargin{
	margin-top: 10px;
}
.classTimeLineContainer{
	background-color: #eee !important;
	min-height: 100% !important;
}
.classFontNormal{
	font-weight: normal;
}
.classEventDetails{
	min-height: 100px;
	background-color: #FFF;
	border-radius: 5px;
}
.classEventNotes{
	min-height: 40px;
	background-color: #eee;
	border-right: 1px solid #c6cacc;
	border-left: 1px solid #c6cacc;
	border-bottom: 1px solid #c6cacc;
	border-radius: 5px;
}
.arrow-left {
	position: relative;
	background: #fff;
	border: 1px solid #c6cacc;
}
.arrow-left:after, .arrow-left:before {
	right: 100%;
	top: 25%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-left:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #fff;
	border-width: 16px;
	margin-top: -16px;
}
.arrow-left:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #c6cacc;
	border-width: 17px;
	margin-top: -17px;
}
.classPhoneContainer{
	border-radius:50%; 
	background:#fff; 
	padding:9px; 
	width:75%; 
	margin-top:7px;
	height: 40px;
	border: 1px solid #c6cacc;
}
.classPlannedBorderContainer{
	height: 140px;
	border-left: 2px dashed #c6cacc;
	width: 0px;
	margin: 0 auto;
	margin-top: 10px;

}
.classPlannedBorderContainerWithoutDescription{
	height: 105px;
	border-left: 2px dashed #c6cacc;
	width: 0px;
	margin: 0 auto;
	margin-top: 10px;

}
.classPastBorderContainer{
	height: 112px;
	border-left: 2px solid #c6cacc;
	width: 0px;
	margin: 0 auto;
	margin-top: 10px;

}
.classPastBorderContainerWithoutDescription{
	height: 94px;
	border-left: 2px solid #c6cacc;
	width: 0px;
	margin: 0 auto;
	margin-top: 9px;

}
.classEventName{
	font-size:20px;
	margin-top:5px;
	margin-left: 8px;
}
.classEventNameContainer{
	display:inline-flex;
}
.classMarginal{
	margin-left:15px;
}
.classDescriptionMarginal{
	margin-left:0px;
	margin-top:10px;
}
.classHeaderEvents{
	padding: 5px 20px; 
	border-radius: 14px;
}
.classBottomSpacing{
	margin-bottom: 50px;
}
.classCrossIcon{
	position: absolute;
    top: -15px;
    left: 55px;
    border-radius: 13px;
}
.classCrossIconAttachment{
	position: absolute;
    top: 0px;
    left: 45px;
    border-radius: 13px;
}
.classMarginalSetting{
	margin-left: 30px;
	margin-top: 15px;
}
.classEventDateTime {
  position:absolute;
  top:-1px;
  right:0px;
  background-color:#777;
  color:#fff;
  width:154px;
  height:20px;
  text-align:center;
  border-top-right-radius: 5px;
}
#noti-count div {
  margin-top:7px;
}
.classFontSize{
	font-size: 12px;
}
#idEventAttachment{
	margin-right: 5px;
	margin-bottom: 5px;
}

a.selected {
  background-color:#1F75CC ;
  color:white;
  z-index:100;
}

.popup {
  background-color:#FFF ;
  border:1px solid #FFF ;
  border-radius: 5px;
  cursor:pointer;
  display:inline-block;
  text-align:center;
  width:54px;
  position: absolute;
  margin-left: 64px;
  z-index:50;
  padding: 4px 9px 2px;;
}

.popup p, .popup.div {
  margin: 8px 0;
  padding-bottom: 3px;
}
.classActive a{
	font-size: 14px !important;
	color:#000 !important;
	background-color: #FFF !important;
	border-bottom: 2px solid #c6cacc;
}
.classNavBarContainer{
	margin: 0 auto;
    padding: 0;
    width: 23%;
    margin-bottom: 13px;
    margin-top: 5px;
}
.classAddEvent{
	margin-top: -50px;
}
.popup {
  display: none;
}
.featured {
  cursor: pointer;
}
.popover {
  position: relative;
  top: 0;
  left: 70px !important;
  z-index: 1010;
  display: none;
  max-width: 400px;
  width:auto;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
   word-wrap: break-word;
}
.classToolTipRowContainer{
	margin-bottom: 5px;
}

.template-download td{
	padding:10px;
}

.classLeadHeading{

	font-size: 28px;
    font-weight: 600;
    color: #467ab7;
}
.classStatusLabel{
	position: absolute;
    margin-top: 12px;
    margin-left: 5px;
    padding: 5px;
}
.classHeaderProfile{
	margin-top: 20px;
}
.classProfilePicture{
	width:150px; 
	height:176px; 
	margin-top:20px;
	float:right;
}
.classLeadFilters{
	cursor: pointer;
}
.classMISReportButton{
	font-size: 14px;
}