.image-annotate-add {
    background: #fff url(../images/accept.png) no-repeat 3px 3px;
    border: solid 1px #ccc !important;
    color: #000 !important;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Verdana, Sans-Serif;
    font-size: 12px;    
    height: 18px;
    line-height: 18px;    
    padding: 2px 0 2px 24px;
    margin: 5px 0;
    width: 64px;
    text-decoration: none !important;
}
.image-annotate-add:hover {
    background-color: #eee;
}
.image-annotate-view-all-notes {
    background: #fff url(../images/asterisk_yellow.png) no-repeat 3px 3px;
    border: solid 1px #ccc !important;
    color: #000 !important;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Verdana, Sans-Serif;
    font-size: 12px;    
    height: 18px;
    line-height: 18px;    
    padding: 2px 0 2px 24px;
    margin: 5px 5px;
    width: 92px;
    text-decoration: none !important;
}
.image-annotate-view-all-notes:hover {
    background-color: #eee;
}
.image-annotate-canvas {
    border: solid 1px #ccc;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin: 0;
    position: relative;
    background-size: contain;
}
.image-annotate-view {
    display: none;
    position: relative;
}
.image-annotate-area {
    border: 1px solid #000000;
    position: absolute;
}
.image-annotate-area div {
    border: 1px solid #FFFFFF;
    display: block;
    background-color: #000;
    opacity: 0.5;
}
.image-annotate-area-hover div {
    border-color: yellow !important;
}
.image-annotate-area-editable {
    cursor: pointer;
}
.image-annotate-area-editable-hover div {
    border-color: #FFFFFF !important;
}
.image-annotate-note {
    background: #E7FFE7 none repeat scroll 0 0;
    border: solid 1px #397F39;
    color: #000;
    display: none;
    font-family: Verdana, Sans-Serif;
    font-size: 12px;
    max-width: 30%;
    padding: 3px 7px;
    position: absolute;
    word-wrap: break-word;
    height: auto;
}
.image-annotate-note .actions {
    display: block;
    font-size: 80%;
}
.image-annotate-edit {
    display: none;
}
#image-annotate-edit-form {
    background: #FFFEE3 none repeat scroll 0 0;
    border: 1px solid #000000;
    height: auto;
    padding: 7px;
    position: absolute;
    width: auto;
    z-index: 9999;
}
#image-annotate-edit-form form {
    clear: right;
    margin: 0 !important;
    padding: 0;
    z-index: 999;
}
#image-annotate-edit-form .box {
    margin: 0;
}
#image-annotate-edit-form input.form-text, #image-annotate-edit-form #edit-comment-wrapper textarea {
    width: 90%;
}
#image-annotate-edit-form textarea {
    height: 50px;
    font-family: Verdana, Sans-Serif;
    font-size: 12px;    
    width: 248px;
}
#image-annotate-edit-form fieldset {
    background: transparent none repeat scroll 0 0;
}
#image-annotate-edit-form .form-item {
    margin: 0 0 5px;
}
#image-annotate-edit-form .form-button, #image-annotate-edit-form .form-submit {
    margin: 0;
}
#image-annotate-edit-form a {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 3px 3px;
    border: solid 1px #ccc;
    color: #333;
    cursor: pointer;
    display: block;
    float: left;    
    font-family: Verdana, Sans-Serif;
    font-size: 12px;        
    height: 18px;
    line-height: 18px;
    padding: 2px 0 2px 24px;
    margin: 3px 6px 3px 0;
    width: 48px;
}
#image-annotate-edit-form a:hover {
    background-color: #eee;
}
.image-annotate-edit-area {
    border: 1px solid black;
    cursor: move;
    display: block;
    height: 60px;
    left: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    width: 60px;
}
.image-annotate-edit-area .ui-resizable-handle {
    opacity: 0.8;
}
.image-annotate-edit-ok {
    background-image: url(../images/accept.png);
}
.image-annotate-edit-delete {
    background-image: url(../images/delete.png);
}
.image-annotate-edit-close {
    background-image: url(../images/cross.png);
}
.ui-resizable {
    position: relative;
}
.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    z-index: 99999;
    display: block;
}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable- autohide .ui-resizable-handle {
    display: block;
}
.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0px;
}
.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0px;
}
.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0px;
    height: 100%;
}
.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0px;
    height: 100%;
}
.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}
.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}
.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}
.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}