/*Package Edit Log */
.modal-header-package {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px 10px 43px 10px;
  border-radius: 5px;
  background: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}

.modal-title-package {
  font-weight: 400;
  font-size: 2em;
  color: #08c;
  line-height: 35px;
  display: inline-flex;
} 

.modal-title-package p{
  font-size: 10px;
  line-height: 42px;
  margin-left: 3px;
}     

.modal-body-package {
  position: relative;
  margin-top: 6%;
  max-height: 500px;
  padding: 15px;
  overflow-y: auto;
}

.modal-package {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 90%;
}

.modal-package .modal-dialog{
  /*position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;*/
  width: 100%;
}
#idfsModal .modal-footer {
  padding: 5px;    
}

.PackageEditLogTable{
  font-size: 14px;
}

/*::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  background: #f1f3f5;
  border-left: 1px solid darken(#f1f3f5, 10%);
}

::-webkit-scrollbar-thumb {
  background: darken(#f1f3f5, 20%);
}*/