/*Patient Record Pop-up with tab view*/
.classPatientRecordPopupTabViewModal{
	/*top: 5% !important;*/
	/*left: 25%;*/
    width: 90% !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 13px;
}
.custom-modal-lg{
    width: 100% !important;
}

.close_btn{
	background: #ff6c60;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    /*top: -32px !important;*/
    right: 5px !important;
    cursor: pointer;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.patient_header {
    background: #2a3542;
    /*padding: 20px 15px 20px 15px;*/
    padding: 5px 5px 25px 10px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    /*margin: -9px -15px -10px -15px;*/
}

.patient_actions button {
    margin: 0px 0px 0px 7px;
    background: #41cac0;
}

.patient_header .patient_pic {
    float: left;
    /*margin: 0px 0px 0px 0px;*/
    margin: 8px 0px 0px 8px;    
    border: 5px solid #7087a3;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.patient_header .patient_pic img {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.patient_header .patient_details {
    color: #fff;
    margin-top: 22px;
}

.patient_actions {
    float: right;
}

.header-btn-primary {
    background-color: #41cac0 !important;
    border-color: #41cac0 !important;
    color: #FFFFFF !important;
}
.modal-header-custom{
    border-bottom: 0px solid #eee !important;
    padding: 0px 0px 0px 0px;
    width: 100%;
   /* max-height: 180px;
    min-height: 180px;*/
}
.btn-custom-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    text-decoration: none;  
}

.classPatientNameBlock{
	color: white !important;
    text-align: left;
    margin-left: 10%;
}

.custom-footer{
	background: #2a3542;
	padding: 2px 0px;
}

#idPRPPGlobalID{
	margin-right: 42px;
}
#idPRPPLocalID{
	margin-right: 48px;
}
#idPRPPDOB{
	margin-right: 70px;
}
#idPRPPGendar{
	margin-right: 55px;
}
#idPRPPMobileNo{
	margin-right: 36px;	
}

.icon-custom{
	margin-left: 4px;
}

.panel-heading .tab-bg-dark-navy-blue {
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.tab-bg-dark-navy-blue {
    background: #7087A3;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-bottom: none;
}

.classPatientRecordPopupTabViewModal .panel-heading {
    border-color: #eff2f7 !important;
    font-size: 17px;
    font-weight: 300;
    border-radius: 0px;
}

.classPatientRecordPopupTabViewModal .panel-heading .nav {
    border: medium none;
    font-size: 13px;
    margin: -9px -15px -9px -16px;
}

/*.panel-heading .nav > li.active > a, .panel-heading .nav > li > a:hover {
    color: #47596f !important;
    background: #fff !important;
}*/

.classPatientRecordPopupTabViewModal .tab-heading{
	word-wrap: break-word !important;
	width: 85px;
    height: 75px !important;
	text-align: center !important;
}

.classHeaderDetalsBlock{
    text-align: left;
    margin-left: 5%;
}

.custom-modal-body{
    padding: 0px 15px 15px 15px;
   /* max-height: 580px;	
    min-height: 200px;	*/
}

/*#containerDiv a {
    color: #47596f;    
}*/

.classPatientRecordPopupTabViewModal ul.nav-tabs {
    background: #5b6e84 !important;
}

.classPatientRecordPopupTabViewModal ul.nav-tabs li {
	color: #FFFFFF !important;
    border-right: 1px solid #2a3542 !important;
    width: 10%;
}

.classPatientRecordPopupTabViewModal .panel-heading .nav > li.active > a, .panel-heading .nav > li > a:hover {
    color: #47596f !important;
    background: #fff !important;
    width: 100%;
}

.classPatientRecordPopupTabViewModal .tab-heading {
    word-wrap: break-word;
    width: 100%; 
    height: 57px;
    text-align: center;
    color: aliceblue;
}

.btn-call{
	margin-left: 5px;
	background: green;
}

.classPatientRecordPopupTabViewModal .modal-body .loader_animation {
    background: url(../img/Preloader_1_64x64.gif) center center no-repeat;
    width: 100%;
    height: 300px;
}

/* Data Loader Animation */
.classOverlay{
    opacity : 0.4;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    z-index: 5000;
    height: 250vh;
    display: none; /*hide loader*/
}
.circle {
    margin: 0 auto;
    border-radius: 50%;
    border: 10px solid rgba(0, 0, 0, 0);
    border-top-color: #347fc3;
}

.circle1-1, .circle1-2, .circle1-3, .circle1-4, .circle1-5, .circle1-6 {
   height: 100px;
   width: 100px;
   margin-top: 15px;
}

.circle2-1, .circle2-2, .circle2-3, .circle2-4, .circle2-5, .circle2-6 {
   height: 70px;
   width: 70px;
   margin-top: 5px;
}

.circle3-1, .circle3-2, .circle3-3, .circle3-4, .circle3-5, .circle3-6 {
   height: 40px;
   width: 40px;
   margin-top: 5px;
}

.circle1 {
  -webkit-animation: load1 4s infinite;
}

@-webkit-keyframes load1 {
  0% {
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
/*Add class to show loader*/
.overlay-loader-active{
	display: block !important;
}
/* END Data Loader Animation */

.classPatientTitle{
	margin-right: 2px;
}
.classPatientFullName{
	margin: 0px 2px 0px 2px;
}
.classPatientNo{
	margin-left: 2px;
}
.classRightTD{
	text-align: right !important;
	color: #797979;
}
.classLeftTD{
    text-align: left !important;
    color: #797979;
}
.classTabPatientBasicDetailsTable{	
	border-bottom: 1px solid #d3d3d399;
	font-size: 13px;
}

.btn-shadow.btn-primary {
    box-shadow: 0 4px #29b392;
}

.classPatientRecordPopupTabViewModal .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    background: #03d4a2;
}

.classPatientRecordPopupTabViewModal .btn-sm:hover {
	background: #03d4a2;
}

.treament_package_info .treament_package_count {
    padding: 68px 0px 10px 50px !important;  
}
.treament_package_info .treament_package_count p {
    margin: -24px 0px 0px 0px !important;
}
.classFormValueBlock input { 
    padding: 5px 5px 5px 5px !important;
    width: 100% !important;
}
.classTab10 .classFullWidth_100 {
    width: 100%;
    display: inline-flex;
}
.classFormValueBlock textarea {  
    width: 189px !important;
}
.classRemoveBtnForPopup {
    margin: 0px 0px 0px 0px !important;
    font-size: xx-small !important;
}
.btn-report {
    width: 66% !important;
    height: 22px !important;
    padding: 0px !important;
}
.classUploadedByForPatientPopup span .select2 select2-container select2-container--default select2-container--focus{
    width: 186px !important;
}
.classUploadedByForPatientPopup + .select2-container{
    width: 100% !important;
}