/*.side-menu {
    z-index: 100000;
    position: fixed;
    width: 50px;
    height: 100%;
    -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background-color: #EAEAEA
}
.panel-default{
  border-color: #F8F8F8;
  background-color: #F8F8F8;
}
.classMaincontainer{
  width: 1150px;
  float: right;
}
.classPanelBody{
  padding: 0px;
}
.classPanelBody:hover{
  background-color: #ddd;
}
*/

.app-container {
    min-height: 100%;
    position: relative;
    padding-bottom: 30px;
}
.app-container .app-footer {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 50px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;
}
.app-container .app-footer .wrapper {
    padding: 10px 25px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}
.app-container .content-container {
    margin-right: 0;
    margin-left: 0;
}
.app-container .content-container .side-menu {
    z-index: 100000;
    position: fixed;
    width: 50px;
    height: 100%;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    background-color: #EAEAEA;
    margin-top: -50px;
}
.slide-menu {} .app-container .content-container .side-menu .navbar-header {
    width: 100%;
    border-bottom: 0px solid #e7e7e7;
}
.app-container .content-container .side-menu .navbar-header .navbar-brand {
    width: 45px;
    line-height: 50px;
    height: 50px;
    padding: 0;
    width: 100%;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}
.app-container .content-container .side-menu .navbar-header .navbar-brand .icon {
    width: 50px;
    text-align: center;
    display: inline-block;
}
.app-container .content-container .side-menu .navbar-header .navbar-brand .title {
    margin-left: -10px;
    display: none;
}
.app-container .content-container .side-menu .navbar-header .navbar-expand-toggle {
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 0px;
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    opacity: 0.75;
}
.app-container .content-container .side-menu .navbar {
    border: none;
    padding-left: 0px;
}
.app-container .content-container .side-menu .navbar-nav li {
    display: block;
    width: 100%;
    overflow: hidden;
}
.app-container .content-container .side-menu .navbar-nav li a {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0 10px 0 10px;
    height: 46px;
    line-height: 46px;
    display: block;
    white-space: nowrap;
}
.app-container .content-container .side-menu .navbar-nav li a .icon {
    width: 28px;
    text-align: center;
    font-size: 1.1em;
    display: inline-block;
}
.app-container .content-container .side-menu .navbar-nav li a .title {
    width: 0px;
    white-space: nowrap;
    padding-left: 6px;
    display: none;
}
.app-container .content-container .side-menu .navbar-nav li.dropdown {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
}
.app-container .content-container .side-menu .navbar-nav li.dropdown ul li a {
    height: 44px;
    line-height: 44px;
    vertical-align: middle;
    padding: 0em 1.2em;
}
.app-container .content-container .side-menu .navbar-nav li.dropdown > a:after {
    content: "";
    position: absolute;
    right: 1em;
}
.app-container .content-container .side-menu .navbar-nav .panel-collapse.in {
    display: none;
}
.app-container .content-container .side-menu:hover {
    width: 250px;
}
.app-container .content-container .side-menu:hover .navbar-header .navbar-brand .title {
    display: inline-block;
}
.app-container .content-container .side-menu:hover .navbar-nav li a .title {
    width: 192px;
    display: inline-block;
}
.app-container .content-container .side-menu:hover .navbar-nav li.dropdown > a:after {
    font-family: FontAwesome;
    content: "\f107";
    position: absolute;
    right: 1em;
}
.app-container .content-container .side-menu:hover .panel-collapse.in {
    display: block;
}
.app-container .content-container .side-body {
    padding-top: 60px;
}
.app-container .content-container .side-body.padding-top {
    padding-top: 84px;
}
.app-container.expanded .app-footer {
    left: 250px;
}
.app-container.expanded .content-container .navbar-top {
    padding-left: 250px;
}
.app-container.expanded .content-container .side-menu {
    width: 250px;
}
.app-container.expanded .content-container .side-menu .navbar-header .navbar-brand .title {
    display: inline-block;
}
.app-container.expanded .content-container .side-menu .navbar-nav li a .title {
    display: inline-block;
}
.app-container.expanded .content-container .side-menu .navbar-nav li .panel-collapse.in {
    display: block;
}
.app-container.expanded .content-container .side-menu .navbar-nav li.dropdown > a:after {
    font-family: FontAwesome;
    content: "\f107";
    position: absolute;
    right: 1em;
}
.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
    margin-left: -15px;
    margin-right: -15px;
}
.page-title {
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: -10px;
    margin-right: -10px;
    padding: 15px 10px;
    margin-bottom: 0px;
    height: auto;
}
.page-title .title {
    font-size: 2em;
}
.page-title .page-action {
    float: right;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}
.sub-title {
    font-family: 'Roboto Condensed', sans-serif;
}
.sub-title > * {
    display: inline-block;
}
.sub-title h3 {
    margin-right: 10px;
}
.sub-title .description {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.9em;
}
.sub-title .action .btn {
    padding: 0 0.5em;
}
/* Main body section */

.app-container .side-body {
    margin-left: 60px;
    margin-right: 10px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}
.app-container.expanded .side-body {
    margin-left: 260px;
}
/* small screen */

@media (max-width: 768px) {
    .navbar {
        padding-left: 0;
    }
    .navbar .navbar-header {
        width: auto;
        display: block;
    }
    .navbar .navbar-nav {
        width: auto;
        margin: 0;
    }
    .navbar .navbar-nav > li {
        display: inline-block;
    }
    .navbar .navbar-right {
        position: absolute;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        -moz-transition: all 0.25s linear;
        -webkit-transition: all 0.25s linear;
        transition: all 0.25s linear;
    }
    .navbar .navbar-right .open .dropdown-menu {
        position: absolute;
    }
    .navbar .navbar-right.expanded {
        right: 0;
    }
    .app-container .navbar-top {
        min-width: 300px;
    }
    .app-container .content-container .side-menu {
        margin-left: -250px;
        width: 0px;
    }
    .app-container .content-container .side-body {
        margin-left: 10px;
    }
    .app-container.expanded .navbar-top {
        min-width: 480px;
        padding-left: 0px;
    }
    .app-container.expanded .side-menu {
        margin-left: 0px;
        width: 250px;
    }
    .app-container.expanded .side-body {
        margin-left: 10px;
    }
    .app-container .app-footer {
        left: 0;
    }
}
/* Card */

.card {
    background-color: #FFF;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}
.card .card-body {
    padding: 25px;
}
.card .card-body .sub-title {
    font-size: 1.2em;
    padding: 1.2em 0em 0.4em 0em;
    margin-bottom: 25px;
}
.card .card-body .sub-title .description {
    padding-left: 0.4em;
    font-size: 0.8em;
    opacity: 0.8;
}
.card .card-body.half-padding {
    padding: 12.5px;
}
.card .card-header .card-title {
    padding: 1.2em 25px;
    float: left;
}
.card .card-header .card-title .title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
}
.card .card-header .pull-right {
    padding: 0.5em 1em;
}
.card .card-header:after {
    content: '';
    display: block;
    clear: both;
}
.card .card-profile-img img {
    width: 100%;
    height: auto;
}
.card .card-jumbotron {
    padding: 1.5em 1.5em;
}
.card:hover .card-header .title {
    text-decoration: none !important;
}
.card.summary-inline .card-body {
    padding: 20px;
}
.card.summary-inline .card-body .content {
    float: right;
}
.card.summary-inline .card-body .content .title {
    font-family: 'Lato', sans-serif;
    margin-top: -0.3em;
    font-size: 3.5em;
    text-align: right;
}
.card.summary-inline .card-body .content .sub-title {
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    text-align: right;
    margin-top: -10px;
    margin-bottom: 0;
    padding: 0;
    border-bottom: 0;
}
.card.profile .card-body {
    padding: 0.5em 0.8em;
}
.card.profile .card-footer {
    padding: 0.5em 0.8em;
}
.panel {
    border-radius: 3px;
}
.panel .panel-heading {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.chart {
    padding: 15px;
}
.chart.no-padding {
    padding: 0;
    margin-bottom: -5px;
}
.btn {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    border-width: 1px;
    font-family: 'Roboto Condensed', sans-serif;
}
.btn-group-lg > .btn,
.btn-group-lg > .btn-lg {
    border-radius: 3px;
}
.classSliderHeader {
    background-color: #3E4651;
}
.classTextColor {
    color: #19B5FE;
}
.classDropdownTextColor:hover {
    color: #19B5FE !important;
}
.classBaseTopHeader {
    margin-left: 38px !important;
}
.classContainerBody {
    margin-left: 50px;
}
.classMedixcelFooter {
    margin-left: 50px;
}